<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.uscustom.keyboardlayout.u.s.custom</string>
	<key>CFBundleName</key>
	<string>U.S. custom</string>
	<key>CFBundleVersion</key>
	<string>2015-06-29</string>
	<key>KLInfo_U.S. custom</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>org.uscustom.keyboardlayout.u.s.custom</string>
		<key>TISIntendedLanguage</key>
		<string>en-US</string>
	</dict>
</dict>
</plist>
